[submodule "tst/pytst-repo"]
	path = tst/pytst-repo
	url = git@github.com:pengkui/pytst.git
[submodule "aatree/aatree-repo"]
	path = aatree/aatree-repo
	url = git@github.com:pengkui/aatree.git
[submodule "avl/avl-repo"]
	path = avl/avl-repo
	url = git@github.com:pengkui/avl.git
[submodule "btree/btree-repo"]
	path = btree/btree-repo
	url = git@github.com:pengkui/btree.git
